<%= flash_messages %>
<h1>Frontpage</h1>


<ul>
  <% @subs.each do |sub| %>
    <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>

<a href="<%= new_sub_url %>">Create a New Sub!</a>
